
//Переменные

$colorMainBlue:#7481FF; //Основной цвет сайта
$colorTitleBurgerBlueDark:#41456B; // Цвет заголовков и бургер меню
$colorSmallLetterContentGray:#606276;  // Цвет контента блоков 
$colorWhite:#fff;


$fontFamily400:'Gilroy-Regular';
$fontFamily600:'Gilroy-Semibold';
$fontFamily700:'Gilroy-Bold';
$fontFamily800:'Gilroy-Black';

$sizeBurgerLineWidthFullScreen:30px;
$sizeBurgerLineHeightFullScreen:3px;

$heightHeader:80px;


//Миксины БУКВЫ


@mixin letterBtnBlueText {
    color: $colorMainBlue;
    font-weight: 700;
    font-family: $fontFamily700;
    font-size: 1rem;
    line-height: 0.9rem;
    
};

@mixin letterBtnWhiteText {
    color: $colorWhite;
    font-weight: 700;
    font-family: $fontFamily700;
    font-size: 1rem;
    line-height: 0.9rem;
  
};

@mixin letterH1textWhite {
    color: $colorWhite;
    font-weight: 800;
    font-family: $fontFamily800;
    font-size: 3.75rem;
    line-height: 4.07rem;
    
};

@mixin letterLogoBlueText {
    color: $colorMainBlue;
    font-weight: 700;
    font-family: $fontFamily700;
    font-size: 1.75rem;
    line-height: 1.9rem;
    
};

@mixin letterH2textTitleDarkBlue {
    color: $colorTitleBurgerBlueDark;
    font-weight: 700;
    font-family: $fontFamily700;
    font-size: 2.81rem;
    line-height: 3.95rem;
    
};

@mixin letterH3textSubtitleBlue {
    color: $colorMainBlue;
    font-weight: 700;
    font-family: $fontFamily700;
    font-size: 1.875rem;
    line-height: 2.62rem;
   
};

@mixin letterContentSecondarySmallGray {
    color: $colorSmallLetterContentGray;
    font-weight: 400;
    font-family: $fontFamily400;
    font-size: 1rem;
    line-height: 1.95rem;
    
};

@mixin letterH4HeadingBurgerMenuTextNumbersDarkBlue {
    color: $colorTitleBurgerBlueDark;
    font-weight: 700;
    font-family: $fontFamily700;
    font-size: 1.56rem;
    line-height: 2.19rem;
    
};

@mixin letterSemiboldDarkBlue {
    color: $colorTitleBurgerBlueDark;
    font-weight: 600;
    font-family: $fontFamily600;
    font-size: 1.25rem;
    line-height: 1.56rem;
   
};





























